{% extends "layout.njk" %}

{% block head %}
    <title>Sobre - Wanderson</title>
{% endblock head %}

{% block content %}

    <div id="wrapper">
        <img src="https://avatars2.githubusercontent.com/u/65118827?s=460&u=7c508a738d926eb0f20fdef0502bd2aab874f51c&v=4" alt="Wanderson Oliveira">
        <h1>Wanderson Oliveira</h1>
        <h2>junior Web Developer</h2>
        <p>Estudante da <a href="https://origamid.com" target="_black">Origamid</a> e da <a href="https://rockseat.com.br" target="_black">Rockseat</a>. Futuro Desenvolvedor Full-Steack.</p>
    </div>

    <footer>
        <div class="link">
            <a href="https://github.com/wanderson1873" target="_blanck">GitHub</a>
            <a href="https://twitter.com/wanderson1873" target="_blanck">Twitter</a>
            <a href="https://www.linkedin.com/in/wanderson1873/" target="_blanck">Linkedin</a>
        </div>
    </footer>
    
{% endblock content %}