<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>classes - Wanderson</title>

</head>
<body>
    <header>
        <div class="link">
            <a href="index.html">Sobre</a>
            <a href="classes.html">Aula</a>
        </div>
    </header>

    <div id="wrapper">
            <h1>Aulas</h1>
    </div>

    <section class="cards">
        <div class="card" id="BXqUH86F-kA">
            <div class="card__img-container">
                <img src="https://img.youtube.com/vi/BXqUH86F-kA/mqdefault.jpg" alt="Curso JavaScript">
            </div>
            <div class="card__content">
                <p>Curso de JavaScript</p>
            </div>
            <div class="card__info">
                <p>33 aulas</p>
                <p class="card__prince">FREE</p>
            </div>
        </div>

        <div class="card" id="F7KzJ7e6EAc">
            <div class="card__img-container">
                <img src="https://img.youtube.com/vi/F7KzJ7e6EAc/maxresdefault.jpg" alt="Curso PHP">
            </div>
            <div class="card__content">
                <p>Curso PHP Iniciante</p>
            </div>
            <div class="card__info">
                <p>24 aulas</p>
                <p class="card__prince">FREE</p>
            </div>
        </div>

        <div class="card" id="zpK_MqEMgu4">
            <div class="card__img-container">
                <img src="https://img.youtube.com/vi/zpK_MqEMgu4/maxresdefault.jpg" alt="Curso Hadware">
            </div>
            <div class="card__content">
                <p>Curso de Hadware</p>
            </div>
            <div class="card__info">
                <p>34 aulas</p>
                <p class="card__prince">FREE</p>
            </div>
        </div>

        <div class="card" id="sTX0UEplF54">
            <div class="card__img-container">
                <img src="https://img.youtube.com/vi/sTX0UEplF54/mqdefault.jpg" alt="Curso de Java">
            </div>
            <div class="card__content">
                <p>Curso de Java</p>
            </div>
            <div class="card__info">
                <p>32 aulas</p>
                <p class="card__prince">FREE</p>
            </div>
        </div>

        <div class="card" id="Ofktsne-utM">
            <div class="card__img-container">
                <img src="https://img.youtube.com/vi/Ofktsne-utM/mqdefault.jpg" alt="Curso de Mysql">
            </div>
            <div class="card__content">
                <p>Curso de Mysql</p>
            </div>
            <div class="card__info">
                <p>19 aulas</p>
                <p class="card__prince">FREE</p>
            </div>
        </div>

        <div class="card" id="xEKo29OWILE">
            <div class="card__img-container">
                <img src="https://img.youtube.com/vi/xEKo29OWILE/mqdefault.jpg" alt="Curso de Git e GitHub">
            </div>
            <div class="card__content">
                <p>Curso de Git e GitHub</p>
            </div>
            <div class="card__info">
                <p>13 aulas</p>
                <p class="card__prince">FREE</p>
            </div>
        </div>
        
    </section>

    <div class="modal-overley">
        <div class="modal">
            <a class="close-modal">
                <i class="material-icons">close</i>
            </a>
            <div class="modal-content">
                <!-- video aqui -->
                <iframe src="" ></iframe>
            </div>
        </div>
    </div>
   
 
    <script src="scripts.js"></script>
</body>
</html>