<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Portfólio - Wanderson</title>

</head>
<body>
    <header>
        <div class="link">
            <a href="index.html">Sobre</a>
            <a href="classes.html">Aula</a>
        </div>
    </header>

    <div id="wrapper">
        <img src="https://avatars2.githubusercontent.com/u/65118827?s=460&u=7c508a738d926eb0f20fdef0502bd2aab874f51c&v=4" alt="Wanderson Oliveira">
        <h1>Wanderson Oliveira</h1>
        <h2>junior Web Developer</h2>
        <p>ler sdef sdf daflekn a-ld eifuherba afeuba ie uçarfn veçi uv onea rvça eiro nav eh ieuça viiç erç veov ekv çes çrvu neº rv ºeor vi elv jer vb oeri vnl dfv esuç vo j</p>
    </div>

    <footer>
        <div class="link">
            <a href="https://github.com/wanderson1873" target="_blanck">GitHub</a>
            <a href="https://twitter.com/wanderson1873" target="_blanck">Twitter</a>
            <a href="https://www.linkedin.com/in/wanderson1873/" target="_blanck">Linkedin</a>
        </div>
    </footer>
    
</body>
</html>