{% extends "layout.njk" %}

{% block head %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Portfólio - Wanderson</title>
{% endblock head %}

{% block content %}

    <div id="wrapper">
        <h1>Aulas</h1>
    </div>

    <section class="cards">
        {% for item in itens %}
            <div class="card" id="{{ item.id }}">
                <div class="card__img-container {{ 'featured-wrapper' if item.featured }}">
                    <img src="https://img.youtube.com/vi/{{ item.id }}/mqdefault.jpg" alt="image de {{ item.title }}">
                    {% if item.featured %}
                        <div class="featured">Featured</div>
                    {% endif %}
                </div>
                <div class="card__content">
                    <p>{{ item.title }}</p>
                </div>
                <div class="card__info">
                    <p>{{ item.duration }}</p>
                    <p class="card__prince">{{ item.price }}</p>
                </div>
            </div>
        {% endfor %}
    </section>

    <div class="modal-overley">
        <div class="modal">
            <a class="close-modal">
                <i class="material-icons">close</i>
            </a>
            <div class="modal-content">
                <!-- video aqui -->
            </div>
        </div>
    </div>

    <script src="scripts.js"></script>

{% endblock %}